.productitem{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.productitem:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 25px rgba(0,0,0,.2);
}

.productitem a{
    text-decoration:none;
    color:black;
    display:block;
}

.productitem img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.productitem h3{
    margin:15px;
    font-size:22px;
}

.productitem p{
    margin:0 15px 20px;
    color:#28a745;
    font-size:20px;
    font-weight:bold;
}