<div class="product-list">
    @for (item of products(); track $index) {
        <div class="productitem">
            <a href="">
                <div class="productitem__media">
                    <img [src]="item.image" [alt]="item.name">
                </div>
                <div class="productitem__content">
                    <h3>{{ item.name }}</h3>
                    <p class="productitem__description">{{ item.description }}</p>
                    <p class="productitem__price">{{ item.price | currency:'XAF':'symbol' }}</p>
                    <p class="productitem__soldprice">solde:{{ item.soldprice | currency:'XAF':'symbol' }}</p>
                </div>
            </a>
        </div>
    }
</div>